*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html{
    height: 100vh;
    font-size: 14px;
}

body{
    background-color: black;
}
.container{
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

.degrade{
    background: linear-gradient(to right, #FE4701, #FF0054);
}

/*ESTILO HEADER */
header{
    text-align: center;
    margin-bottom: 40px;
}

header img{
    max-width: 160px;
    margin-bottom: 30px;
}

header p{
    font-size: 18px;
    color: #5e5e5e;
}

header h1{
    font-size: 2em;
    margin-bottom: 10px;
    color: #5e5e5e;
    font-weight: 300;
}

section.botoes-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a.link button{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 30px;
    font-size: 1.3em;
    cursor: pointer;
    color: black;
    transition: .3s;
}

a.link i{
    font-size: 1.5em;
}

a.link button:hover, footer a.btn-footer:hover{
    transform: scale(1.05);
}
footer{
    text-align: center;
    margin: 30px;
}

footer a.btn-footer{
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 2em;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 10px ;
    transition: .3s;
    color: black;
}
